pandas
matplotlib==3.2.2
backtrader
backtrader_plotting
scipy
statsmodels
quantstats
requests
loguru
binance-connector
numba
pykalman
tables
scikit-learn
empyrical
stable-baselines3
jupyter
gym[all]
pyglet==1.5.0
tensorboard
tensortrade
yfinance
pandas_datareader
wxPython
bokeh
